/* Small Cards */
.cards { 
    display: flex; 
    gap: 1em; 
    align-items:stretch; 
    justify-content: space-around;
    margin:4em 0 4em 0; 
    flex-wrap: wrap;
}

.card-media { 
width: 100%;
aspect-ratio: 16 / 9;
overflow: hidden;
}

.card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

#cards > h2 { 
    width: 100%; 
}

.small-card-container { 
    display: flex; 
    flex-direction: column; 
    align-items: start; 
    justify-content: space-around;

    max-width: 350px; 
    background: var(--color-white);
}

.small-card-container-column-2 { 
  margin: 1em 1em; 
}

.card-no-title { 
  align-self: flex-end;
}

@media ( max-width: 763px ) { 
    .card-with-title { 
        margin-top: 0; 
    }
}

