/* Hero Sections */

.hero-container { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 2em; 
    max-height: 560px;
}

.hero-container-column-1 { 
    flex: 2; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-width: 515px;   
}

.hero-container-column-1 > * { 
    max-width: 300px; 
}

.hero-container-column-1 > hr { 
    width: 40px; 
    height: 5px;
    background-color: var(--color-brand-yellow);
    border: none;
    margin: 2em 0 2em 0 ; 
}

.hero-container-column-1 > p { 

    font-weight: 400; 
}


.home-hero-container-column-2 { 


}


.hero-container-orange {
    background: var(--color-brand-orange); 
}

.hero-container-yellow {
    background: var(--color-brand-yellow); 
}

.hero-container-teal {
    background: var(--color-brand-teal); 
}

.hero-container-column-2 {
    overflow: hidden;
}
.hero-container-column-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.hero-container-column-1-yellow > hr {
    background: var(--color-brand-teal); 
}

@media (max-width: 1000px) { 
    .hero-container-column-1 > hr { 
        margin: 1em 0 1em 0 ;
    }

    .hero-container-column-1 > h1 { 
        margin-top: 1em; 
    }

    .hero-container-column-1 > p { 
        margin-bottom: 1em; 
    }
}

@media (max-width: 885px) { 
    .hero-container { 
        flex-direction: column; 
        max-width: 80%; 
        margin: 0 auto; 
    }

    .hero-container-column-1 { 
        min-width: auto; 
        max-width: 90%; 
        margin: 0 auto; 
    }

    .hero-container-column-2 { 
        width: 100%; 
        height: 300px; 
        margin-top: 2em; 
    }

}


@media (max-width: 420px) { 
    .hero-container { 
        max-width: 100%; 
    }
    }
}